*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}

body {
  background: linear-gradient(rgb(25, 223, 150), rgb(135, 25, 178));
  min-height: 100vh;
  height: auto;
  font-family: Poppins sans-serif;
}

.admin {
  color: black;
}