.adminpallen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    width: 550px;
    margin: 0 auto;
    padding: 23px;
    border-radius: 22px;
    gap: 1rem;
    margin-bottom: 25px;
    background: linear-gradient(rgb(173, 235, 173), rgb(141, 141, 179));
}

.adminpallen label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}

.adminpallen label input {
    padding: 12px;
    color: black;
    width: 100%;
}

.adminpallen label textarea {
    padding: 12px;
    color: black;
    width: 100%;
}

.adminpallen button {
    background-color: white;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    border: none;
    padding: 9px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px white;
    transition: all 0.2s ease-in;
&:hover{
    opacity: 0.8;
}}

.extadmin {
    padding: 12px;
    border: none;
    color: black;
    cursor: pointer;
}

.adminstackpannel {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.adminline {
    width: 100%;
    background-color: rgb(61, 56, 56);
    height: 2px;
}

/* COURSE PALLEN*/
/* COURSE PALLEN*/
/* COURSE PALLEN*/

.createcoursepallen {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}