/* LOGIN*/
/* LOGIN*/
/* LOGIN*/
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.login_container {
    background: linear-gradient(rgb(53, 223, 160), rgb(172, 64, 214));
    box-shadow: 0px 0px 7px rgb(182, 179, 179);
    padding: 2.5rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.loginform {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.login_label h2 {
    font-size: 1.3rem;
}

.login_label {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.login_label input {
    padding: 8px;
    border-radius: 8px;
    border: none;
    color: black;
    width: 250px;
    height: 28px;
}

.loginline {
    width: 100%;
    height: 1px;
    background-color: silver;
}

.loginbut {
    padding: 12px;
    border: none;
    background: linear-gradient(rgb(174, 238, 174), rgb(173, 218, 147));
    cursor: pointer;
    border-radius: 12px;
    width: 200px;
    font-size: 1rem;
    color: white;
    box-shadow: 0px 0px 0px 0px silver;
    transition: all 0.2s ease-in;
&:hover{
    box-shadow: 3px 3px 0px 0px silver;
}}

.login_label_sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.login_label_sub a {
    text-decoration: underline;
    font-size: 1.2rem;
    transition: all 0.1s ease-in;
&:hover{
    opacity: 0.8;
}}

/* register*/
/* register*/
/* register*/

.register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.registerform {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: black;
}

.register_container {
    background-color: rgba(154, 72, 189, 0.5);
    padding: 2.5rem;
}